@import "../../style/variables.scss";

.link {
	background: $gradient;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	transition: 0.1s;
}
.link:hover {
	box-shadow: 0 0 10px white;
}
.link:active {
	filter: brightness(70%);
	box-shadow: none;
}
