.container {
	margin-top: 50px;
	display: flex;
}
.option {
	margin-left: 5px;

	font-weight: 500;
	font-size: 25px;
}
.optionButton {
	display: flex;
	align-items: center;

	cursor: pointer;

	margin-left: 20px;
}
