@import "../../style/variables.scss";

.container {
	position: fixed;

	width: 100%;
	height: 100%;

	top: 0%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	width: 200px;
	height: 200px;

	border-radius: 50%;
	border: 6px dashed $brick-color;

	animation: rotate 12s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
