@import "./variables.scss";

:root {
	position: relative;
	background-color: $main-color;
}
* {
	box-sizing: border-box;
	font-family: $main-font;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
	background: none;
	scroll-behavior: smooth;
}
a {
	letter-spacing: 0;
	margin: 0px;
	padding: 0px;
}
p {
	color: white;
}
button {
	color: white;
}
