@import "./variables.scss";

* {
	box-sizing: border-box;
	font-family: $main-font;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
	color: white;
	background: none;
	scroll-behavior: smooth;
}
a {
	letter-spacing: 0;
}
:root {
	position: relative;
	background-color: black;
}
