@import "./variables.scss";

* {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  list-style: none;
}

:root {
  position: relative;
  background-color: black;
}
