$gradient: linear-gradient(101.5deg, #f9b992 0%, #ba6d45 33%, #efae89 75%, #bf7a56 100%);
$main-color: #0e1927;
$second-white: #dddedf;
$blue: #8898a6;
$main-font: "Roboto Flex", sans-serif;
$brick-color: #dc8d61;
$brick-font-color: #f5d1be;
