$gradient: linear-gradient(
  101.5deg,
  #f9b992 0%,
  #efae89 29.62%,
  #bf7a56 65.99%,
  #ba6d45 100%
);
$main-color: #0e1927;
$seocnd-white: #dddedf;
$blue: #8898a6;
$main-font: "Roboto Flex", sans-serif;
