@import "../../style/variables.scss";

.container {
	border: 1px solid $blue;

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	overflow: hidden;

	border-radius: 25px;

	box-sizing: border-box;

	height: 400px;
	width: 260px;

	margin: 30px;

	* {
		z-index: 3;
		position: relative;
	}

	transition: 0.25s;
}
.container:hover {
	border: 1px solid $brick-color;
}
.container:hover .img {
	transform: scale(125%);
}
.img {
	overflow: hidden;

	width: 100%;
	height: 100%;

	z-index: 1;

	position: absolute;

	background-size: cover;
	background-position: center;

	transition: 1s;
}
.minorInfo {
	display: flex;
	align-items: center;

	margin: 10px;
	margin-bottom: 4px;

	font-size: 16px;
	font-weight: 400;
}
.calories {
	font-weight: 400;
}
.time {
	margin: 0 auto;
}
.svg {
	position: absolute;

	right: 10px;
	top: 10px;

	transition: 1s;
}
.path {
	transition: 0.25s;
}
.path:hover {
	fill: $brick-color;
}
.majorInfo {
	border-top: 1px solid $blue;

	height: 140px;

	padding: 10px;

	backdrop-filter: blur(3px);

	transition: 0.25s;
}
.container:hover .majorInfo {
	border-top: 1px solid $brick-color;
}
.title {
	font-weight: 500;
	font-size: 20px;

	display: -webkit-box;
	-webkit-line-clamp: 1; // количество строк
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.description {
	margin-top: 14px;

	font-size: 14px;
	font-weight: 400;

	text-align: justify;

	display: -webkit-box;
	-webkit-line-clamp: 5; // количество строк
	-webkit-box-orient: vertical;
	overflow: hidden;
}
