@import "../../style/variables.scss";

.containerCards {
	width: 100%;
	height: 1600px;

	display: flex;
	flex-wrap: wrap;
}
.recipeCount {
	width: max-content;
	margin-top: 50px;

	font-weight: 500;
	font-size: 25px;

	border-bottom: 2px solid $brick-color;
}
.divLine {
	margin-top: 10px;

	width: 100%;

	border-bottom: 1px solid $brick-color;
}
