@import "../../style/variables.scss";
.containerCards {
	height: 860px;

	margin-bottom: 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.recipeCount {
	width: max-content;

	margin: 50px 0;
	font-weight: 400;
	font-size: 20px;

	border-bottom: 1px solid $brick-color;
}
.divLine {
	margin-top: 10px;

	width: 100%;

	border-bottom: 1px solid $brick-color;
}
.pagination {
	margin: 40px;
}
