.container {
  display: flex;
  height: 170px;
  padding: 10px;
}
.info {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 70%;
}
.feedbackButton {
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
.about {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 50px;
  width: 50px;
}
.iconContainer {
  margin: 15px;
}
