@import "../../style/variables.scss";

.container {
	position: relative;
	height: 440px;

	background-image: url("../../constants/bg-footer.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	background-size: 50%;
}
.feedbackButton {
	display: block;
	margin: 100px auto;
	height: 40px;
	font-weight: 500;
	font-size: 20px;
	color: $brick-font-color;
	cursor: pointer;

	border-bottom: 2px solid $brick-color;
}
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid $brick-color;
	border-radius: 30px;
	padding: 10px;
}
.icon {
	height: 50px;
	width: 50px;
}
.iconContainer {
	display: block;
	margin: 10px;
	height: 50px;
	width: 50px;
}
.lineBlock {
	display: flex;
	align-items: center;
	justify-content: center;
}
.line {
	width: 70%;
	height: 2px;
	background: $gradient;
}
.img {
	pointer-events: none;
	position: absolute;
	bottom: 0;
}
.leftImg {
	@extend .img;
	left: 10%;
	transform: rotate(-30deg);
}
.rightImg {
	@extend .img;
	right: 10%;
	transform: rotate(30deg);
}
