@import "../../style/variables.scss";

.container {
	height: 370px;
	padding: 10px;
}
.feedbackButton {
	display: block;
	margin: 100px auto;
	height: 40px;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	border-bottom: 2px solid $brick-color;
}
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid $brick-color;
	border-radius: 30px;
	padding: 10px;
}
.icon {
	height: 50px;
	width: 50px;
}
.iconContainer {
	display: block;
	margin: 10px;
	height: 50px;
	width: 50px;
}
.lineBlock {
	display: flex;
	align-items: center;
	justify-content: center;
}
.line {
	width: 70%;
	height: 2px;
	background: $gradient;
}
