@import "../../style/variables.scss";

.button {
  background: $gradient;
  position: absolute;
  width: 155px;
  height: 71px;
  right: 72px;
  top: 65px;
  border-radius: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
}
