@import "../../style/variables.scss";

.button {
	background: $gradient;
	border-radius: 8px;
	color: white;

	cursor: pointer;
	transition: 0.1s;
}
.button:hover {
	box-shadow: 0 0 10px white;
}
.button:active {
	filter: brightness(70%);
	box-shadow: none;
}
