.container {
	height: 490px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-size: cover;
	background-position: center;
}
.p {
	font-size: 150px;

	font-family: "Marck Script";
}
